* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
nav{
  display: flex;
  width: 100vw;
  flex-direction: row;
}
ul{
  display: flex;
  list-style: none;
  gap:15px;
}
li{
  cursor: pointer;
}
